{% extends 'main/cliente/base.html' %}
{% load static %}



{% block css%}
    <style>
    td.add_button{
        background: url("{% static 'images/icon/add.png' %}") center;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
    table{
        border-collapse: collapse;
    }
    #tabla tr {
        background-color: #eee;
        border-top: 1px solid #fff;
    }
    #tabla tr:hover {
        background-color: #ccc;
    }
    #tabla th {
        background-color: #fff;
    }
    #tabla th,
    #tabla td {
        padding: 3px 5px;
    }
    #tabla td:hover {
        cursor: pointer;
    }


</style>
{% endblock %}

{% block titulo %}
    <h1><strong>CAMPAÑAS</strong></h1>
{%  endblock %}

{% block content %}
        <br><br>

    <br><br>
    <!-- botones -->
    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href={% url 'crear_campana' %} class="btn btn-dark text-white">NUEVA CAMPAÑA</a>
                    </div>
{#                    <div class="col-3">#}
{#                        <a href="#" class="btn btn-dark text-white">Añadir Cliente</a>#}
{#                    </div>#}

                </div>
            </div>
        </div>
    </div>
    <!-- tabla -->
    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabla" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>

                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">FECHA CREACION</th>
                                <th class="text-center">FINALIZADA</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center">ACTIVO</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for campana in campanas%}
                                <tr>

                                    <td align="center"><a class="noblue" href="{% url 'elegir_pdvs' campana.pk %}">{{ campana.nombre }}</a></td>
                                    <td align="center">{{ campana.fecha_creacion }}</td>
                                    <td align="center">
                                        {% if campana.fecha_finalizado == None %}
                                        ---
                                        {% else %}
                                        {{ campana.fecha_finalizado }}
                                        {% endif %}
                                    </td align="center">
                                    <td align="center">{{ campana.estado }}</td>
                                    <td align="center">
                                        {% if campana.activo == True %}
                                            Activo
                                        {% else %}
                                            Inactivo
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

        <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        {% if user.is_staff %}
                        <a href={% url 'clientes' %} class="btn btn-dark text-white">
                        VOLVER
                        </a>
                        {%  endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block javascript %}

{#    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#tabla').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons : ['pdf','excel'],
                    {#columns: [#}
                    {#    {className: 'details-control',#}
                    {#        orderable: false,#}
                    {#        data: null,#}
                    {#        defaultContent: ''},#}
                    {#    {data: "Nombre"},#}
                    {#    {data: "Finalizada"},#}
                    {#    {data: "Estado"},#}
                    {#    {data: "Activo"}]#}
                }
            )
        });

        $(document).ready(function () {
            $('#tabla tr').click(function () {
                var href = $(this).find("a").attr('href');
                if(href){
                    window.location = href;
                }
            });
        });
    </script>
{% endblock %}