{% extends 'main/cliente/base_pdf.html' %}
{% load static %}


{% block css%}
<style>

th.coloured{
    background: rgba(223, 223, 209, 0.795);
    color : rgb(10, 9, 9)0, 9, 9);
    
}

td.centered {
text-align: center;
vertical-align: middle;
}

@page { size: letter landscape; margin: 2cm; } 

</style>
{% endblock%}



{% block titulo %}
    <h1 id="campana_name"><strong>PRUEBA</strong></h1>
{%  endblock %}



{% block content %}

    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabla" class="table table-striped table-bordered" style="width:100%">


                            <thead>
                                <tr>
                                    <th class="text-center coloured">ID</th>
                                    <th class="text-center coloured">NOMBRE</th>
                                    <th class="text-center coloured">CADENA</th>
                                    <th class="text-center coloured">IDIOMA</th>
                                    <th class="text-center coloured">CIUDAD</th>
                                    <th class="text-center coloured">PROVINCIA</th>
                                    <th class="text-center coloured">ESTADO</th>
                                </tr>
                            </thead>


                            <tbody>
                            {% for item in pdvs %}
                                <tr>
                                    <td align="center">{{ item.id }}</td>
                                    <td align="center">{{ item.nombre }}</td>
                                    <td align="center">{{ item.cadena }}</td>
                                    <td align="center">{{ item.idioma }}</td>
                                    <td align="center">{{ item.ciudad }}</td>
                                    <td align="center">{{ item.provincia }}</td>
                                    <td align="center">{{ item.estado }}
                                </tr>


                                {% if item.pdis is not None %}
                                <tr>
                                    <table id="tabla" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <th class="text-center">NOMBRE</th>
                                            <th class="text-center">TIPO</th>
                                            <th class="text-center">ANCHO TOTAL</th>
                                            <th class="text-center">ANCHO VISTA</th>
                                            <th class="text-center">ALTURA TOTAL</th>
                                            <th class="text-center">ALTURA VISTA</th>
                                            <th class="text-center">MATERIAL</th>
                                            <th class="text-center">CREATIVIDAD</th>
                                        </thead>
                                        
                                        <tbody>
                                        {% for pdi in item.pdis %}
                                        <tr>
                                            <td class="centered">{{ pdi.nombre}}</td>
                                            <td class="centered">{{ pdi.tipo }}</td>
                                            <td class="centered">{{ pdi.anchoT }}</td>
                                            <td class="centered">{{ pdi.anchoV }}</td>
                                            <td class="centered">{{ pdi.altoT }}</td>
                                            <td class="centered">{{ pdi.altoV }}</td>
                                            <td class="centered">{{ pdi.material }}</td>
                                            <td>
                                                <img style ="width:100 ; height:100;" class="mx-auto d-block" src={{ MEDIA_URL }}/{{ pdi.creatividad }} height="50" width="50">
                                            </td>
                                        </tr>
                                        
                                        {% for montador in pdi.montadores %}
                                        <tr>
                                            <td colspan="13" align="center">{{ montador.email}}</td>
                                        </tr>
                                        {% endfor %}

                                        {% endfor %}
                                        


                                        </tbody>
                                        
                                    </table>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock%}



