{% extends 'main/base.html' %}
{% load static %}
{%  block css %}
<style>
    table{
        border-collapse: collapse;
    }
    #tabla tr {
        background-color: #eee;
        border-top: 1px solid #fff;
    }
    #tabla tr:hover {
        background-color: #ccc;
    }
    #tabla th {
        background-color: #fff;
    }
    #tabla th,
    #tabla td {
        padding: 3px 5px;
    }
    #tabla td:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block titulo %}<strong>CLIENTES</strong>{% endblock %}

{% block content %}

    <!-- botones -->
    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href={% url 'crear_cliente' %} class="btn btn-dark text-white">AÑADIR CLIENTES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tabla -->
    <div class="col-12">
        <div class="card mt-auto">
            <div class = "card-body">
                <div class="row">
                  <div class="col-12">
                      <table id="tabla" class="table table-striped table-bordered" style="width:100%">
                          <thead>
                          <tr>
                              <th class="text-center">Email</th>
                              <th class="text-center">Codigo</th>
                              <th class="text-center">Acciones</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for cliente in clientes %}
                              <tr class="clickable" data-href={% url 'campanas_del_cliente' cliente.pk %}>
                                  <td>{{ cliente.usuario }}</td>
                                  <td>{{ cliente.slug }}</td>
                                  <td><img class="mx-auto d-block" src={{ MEDIA_URL }}{{ cliente.logo }}></td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>




      </div>
        </div></div>
{% endblock%}

{% block javascript %}

{#    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#tabla').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons : [
                        'pdf','excel'
                    ]
                }
            )

            $('#tabla tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');

                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $(".clickable").click(function() {
        window.location = $(this).data("href");
    });
        });
    </script>
{% endblock %}