{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block titulo %}{{accion}} Usuario{% endblock %}

{% block content %}


    {% if exitStatus %}
    <div class="alert alert-success" role="alert">
        {{ exitStatus }}
    </div>
    {% endif %}


    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3> Nuevo Logo </h3>
                        <form method="POST" novalidate enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_image|crispy }}
                            <button type='submit' class='btn btn-secondary'> Enviar Logo</button>
                        </form>
                    </div>

                    <div class="col-3">
                        <img id="logo_img" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mt-5">
            <div class = "card-body">
                <h3> {{accion}} Usuario </h3>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div id="div_montador" style="display: none;">
                        {{ form_montador|crispy }}
                    </div>
                    <div id="div_cliente" style="display: none;">
                        {{ form_cliente|crispy }}
                    </div>
                    <div class="btn-toolbar pull-left">
                        <button type='submit' class='btn btn-secondary mr-3'> {{accion}} </button>
                        <button formaction="{% url 'usuarios' %}" type='submit' class='btn btn-secondary mr-3'> Volver </button>
                    </div>



                </form>
            </div>
        </div>
    </div>





{% endblock %}

{%  block javascript %}
    <script>

        $("#id_logo").change(function () {
            $("#logo_img").attr('src', '{{ MEDIA_URL }}' + $("#id_logo option:selected").text());
        });



        $(document).ready(function () {
            $('#id_is_staff').change(function () {
                console.log('changeado');
                if (this.checked) {
                    $('#div_id_is_cliente').hide();
                    $('#id_is_cliente').prop('checked', false);
                    $('#div_id_is_montador').hide();
                    $('#id_is_montador').prop('checked', false)
                } else {
                    $('#div_id_is_cliente').show();
                    $('#div_id_is_montador').show()

                }


            })

            $('#id_is_cliente').change(function () {
                console.log('changeado');
                if (this.checked) {
                    $('#div_id_is_staff').hide();
                    $('#id_is_staff').prop('checked', false);
                    $('#div_id_is_montador').hide();
                    $('#id_is_montador').prop('checked', false);
                    $('#div_cliente').show();
                } else {
                    $('#div_id_is_staff').show();
                    $('#div_id_is_montador').show();
                    $('#div_cliente').hide();

                }


            })
            $('#id_is_montador').change(function () {
                console.log('changeado');
                if (this.checked) {
                    $('#div_id_is_cliente').hide();
                    $('#id_is_cliente').prop('checked', false);
                    $('#div_id_is_staff').hide();
                    $('#id_is_staff').prop('checked', false);
                    $('#div_montador').show()

                } else {
                    $('#div_id_is_cliente').show();
                    $('#div_id_is_staff').show();
                    $('#div_montador').hide();

                }


            })
        })
    </script>

{%  endblock %}