{% extends 'main/base.html' %}
{% load static %}


{% block titulo %}<strong>USUARIOS</strong>{% endblock %}
{% block content %}

    <!-- botones -->

    <div class="col-12">
        <div class="card mt-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href={% url 'crear_usuario' %} class="btn btn-dark text-white">AÑADIR USUARIO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tabla -->
    <div class="col-12">
        <div class="card mt-auto">
            <div class = "card-body">
                <div class="row">
                  <div class="col-12">
                      <table id="tabla" class="table table-striped table-bordered" style="width:100%">
                          <thead>
                          <tr>
                              <th class="text-center">Id</th>
                              <th class="text-center">Nombre</th>
                              <th class="text-center">Empresa</th>
                              <th class="text-center">Email
                              <th class="text-center">Rol</th>
                              <th class="text-center">Acciones</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for user in users %}
                              <tr>
                                  <td>{{ user.id }}</td>
                                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                                  <td>{{ user.empresa }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>{{ user.role }}</td>
                                  <td>
                                        <div style="vertical-align: center; text-align:center;">
                                            <a href="{% url 'edit_usuario' user.pk %}">
                                            <img class = "mr-4"  title="Editar" src="{% static 'images/edit.png' %}"
                                                  height="20" width="20">
                                            </a>
                                            <img onclick="showImageModal({{ user.pk }})"  title="Borrar" src="{% static 'images/delete.png' %}"
                                                   height="20" width="20" >
                                        </div>
                                  </td>

                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
      </div>
    </div>


        <div id="mymodal"></div>
{% endblock%}

{% block javascript %}

{#    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#tabla').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons : [
                        'pdf','excel'
                    ]
                }
            )

            $('#tabla tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');

                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

        });

        function showImageModal(source){
                    var modal = `<div class="modal fade show" id="exampleModalCenter" style="display: block; padding-right: 15px;">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <button onclick="closeModal()" type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                    <div class="row justify-content-md-center">
                                                        <h1>¿ Eliminar Usuario ?</h1>
                                                    </div>
                                                    <br><br>
                                                    <div class="row justify-content-md-center">
                                                    <div class="col-3">
                                                            <a href="{% url 'delete_usuario' %}${source}" class="btn btn-dark text-white">
                                                            SI
                                                            </a>
                                                    </div>

                                                    <div class="col-3">
                                                            <a onclick="closeModal()" href="#" class="btn btn-dark text-white">
                                                                NO
                                                            </a>
                                                    </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>`;
                    var mydiv = document.getElementById('mymodal');
                    mydiv.innerHTML += modal;
                }

                function closeModal(){
                    var mydiv = document.getElementById('mymodal');
                    mydiv.innerHTML = ""
                }
    </script>
{% endblock %}